.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 50px;
  width: 80%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

}

.nav-p {
  font-size: 1rem;
  letter-spacing: 5px;
  margin: 50px 25px 25px 25px;
  cursor: pointer;
}

.nav-user-options {
  display: flex;
}

.link {
  color: #1CBB9B;
  text-decoration: none;
}

.link:hover {
  color: #118971;
}
